@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter", sans-serif;
}

.navbar-fixed {
    @apply fixed z-[9999] bg-off-white bg-opacity-50 backdrop-blur-sm dark:bg-night dark:bg-opacity-50;
}

a.hover\:soft-violet:hover .text-color {
    color: #9A84E8;
}

.hamburger-line {
    @apply my-2 block h-[2px] w-[30px];
    background: linear-gradient(to right, #9A84E8, #BA6AE3);
}

.hamburger-active > span:nth-child(1) {
    @apply -rotate-45;
}

.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
    @apply rotate-45;
}

.hover\:bg-gradient-light:hover {
    background-image: linear-gradient(to right, #9A84E8, #BA6AE3);
    color: #F9FBFD;
}

.dark .dark\:hover\:bg-gradient-dark:hover {
    background-image: linear-gradient(to right, #9A84E8, #BA6AE3);
    color: #171717;
}

.gradient-text {
    background: linear-gradient(to right, #9A84E8, #BA6AE3);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* * {
    border: 1px solid red !important;
} */