@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

.navbar-fixed {
  @apply fixed z-[9999] bg-off-white bg-opacity-50 backdrop-blur-sm dark:bg-night dark:bg-opacity-50;
}

a.hover\:soft-violet:hover .text-color {
  color: #9a84e8;
}

.hamburger-line {
  @apply my-2 block h-[2px] w-[30px];
  background: linear-gradient(to right, #9a84e8, #ba6ae3);
}

.hamburger-active > span:nth-child(1) {
  @apply -rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply rotate-45;
}

.hover\:bg-gradient-light:hover {
  background-image: linear-gradient(to right, #9a84e8, #ba6ae3);
  color: #f9fbfd;
}

.dark .dark\:hover\:bg-gradient-dark:hover {
  background-image: linear-gradient(to right, #9a84e8, #ba6ae3);
  color: #171717;
}

.gradient-text {
  background: linear-gradient(to right, #9a84e8, #ba6ae3);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-active {
  opacity: 0.75;
  transform: scale(0.975);
}

@media (max-width: 415px) {
  .custom-box {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
  }
  .custom-img {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media (max-width: 368px) {
  .custom-box {
    display: none;
  }
}

/* * {
    border: 1px solid red !important;
} */
